.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    font-size: 18px;
    text-underline-offset: 4px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 104px;
}

.header__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    justify-self: end;
    text-underline-offset: 5px;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title, .cover__description {
    position: relative;
    z-index: 2;
}

.cover__title {
    color: white;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}

.aligned-text_right {
    text-align: right;
    margin-top: 20px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    color: white;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid white;
    padding: 12px 32px 11px 31px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
    line-height: 28px;
    font-weight: 400;
}

.lots {
    padding: 180px 24px 120px;
}

.lots__heading {
    margin-bottom: 27px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
    padding: 0;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
    display: block;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    padding: 48px 40px;
    background-size: cover;
    background-position: center;
}

.card__text, .card__title {
    position: relative;
    z-index: 2;
}

.card__title {
    color: white;
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.card__text {
    color: white;
    font-size: 20px;
    line-height: 120%;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
    display: inline-block;
    font-size: 20px;
    text-underline-offset: 5px;
    margin-top: 30px;
    margin-left: 40px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    padding: 0 24px 180px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto 0;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__title {
    margin-top: 136px;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 50px 82px;
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer__address {
    max-width: 264px;
    text-underline-offset: 5px;
}

.footer__menu {
    text-align: center;
}

.footer__menu-link {
    text-underline-offset: 4px;
}

.footer__menu-list {
    font-size: 18px;
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    list-style: none;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.address a {
    display: block;
}